.project_title{
    font-size:30px;
    font-weight:700;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
.container-projects{
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;   
   
}
@media (max-width: 414px) {
    .container-projects{
   
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;  
        width:350px; 
       
    }
}